<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Header</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/perifericos/home"><img src="home.png" alt="Home"> </a></li>
                <li><a href="/perifericos/cadastro"><img src="login.png" alt="Login"> LOGIN/CADASTRAR</a></li>
                <li><a href="/perifericos/atendimento"><img src="atendimento.png" alt="Atendimento"> ATENDIMENTO</a></li>
                <li><a href="carrinho.html"><img src="carrinho.png" alt="Carrinho"> CARRINHO</a></li>
            </ul>
            
        </nav>
        
    </header>
    <div class="contact-buttons">
        <li><img src="email-logo.png" alt="email-logo"> E-MAIL PARA CONTATO:</a></li>
        <p>Envie suas perguntas para: lojaperifericos@gmail.com</p>
     </div>
     <div class="contact-buttons1">
        <li><img src="telefone-logo.png" alt="telefone-logo"> TELEFONE PARA CONTATO:</a></li>
        <p>Estamos a um telefonema de distância: 11 9841-7878</p>
     </div>
</body>
</html>
