<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/perifericos/home"><img src="/img/home.png" alt="Home"> </a></li>
                <li><a href="/perifericos/cadastro"><img src="/img/login.png" alt="Login"> LOGIN/CADASTRAR</a></li>
                <li><a href="/perifericos/atendimento"><img src="/img/atendimento.png" alt="Atendimento"> ATENDIMENTO</a></li>
                <li><a href="/perifericos/carrinho"><img src="/img/carrinho.png" alt="Carrinho"> CARRINHO</a></li>
            </ul>
            
        </nav>
    </header>
    <h1>Produtos Novos</h1>
    <div class="products-section">


        <a href="/perifericos/mouseprod" class="product-item">
            <img src="/img/mouse-teste.png" >
            <div class="product-info">
                <div class="product-name">Mouse Gamer Sem Fio Logitech G305 LIGHTSPEED com 6 Botões Programáveis e Até 12.000 DPI - Preto</div>
                <div class="product-price">Á vista por: R$ 249,90</div>
            </div>
        </a>

        <a href="produto2.html" class="product-item">
            <img src="monitor-teste.png" >
            <div class="product-info">
                <div class="product-name">Dell P2715Q 27" ULTRA HD FULL 4K</div>
                <div class="product-price">Á vista por: R$ 1399,90</div>
            </div>
        </a>

        <a href="produto3.html" class="product-item">
            <img src="placa-teste.png" >
            <div class="product-info">
                <div class="product-name">Nvidia GeForce GTX 550 ti 1gb 128 bit</div>
                <div class="product-price">Á vista por: R$ 40,00</div>
            </div>
        </a>
    </div>
</body>
</html>